<h2 class="text-center py-5">
  New Product
</h2>

<div class="text-center m-auto" style="max-width: 600px;">
  <form class="d-flex flex-column justify-content-center items-align-center">
    <div class="input-group mb-3">
      <span class="input-group-text" id="title">Title</span>
      <input type="text" class="form-control" aria-label="Title" aria-describedby="title">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Description</span>
      <textarea class="form-control" aria-label="Description"></textarea>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input type="number" class="form-control" aria-label="Price">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="code">Code</span>
      <input type="text" class="form-control" aria-label="Code" aria-describedby="code">
    </div>
    
    <div class="input-group mb-3">
      <span class="input-group-text">Initial stock</span>
      <input type="number" class="form-control" aria-label="Stock">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="thumbnail">Thumbnail</span>
      <input type="text" class="form-control" aria-label="thumbnail" aria-describedby="thumbnail">
    </div>

    <button type="submit" class="btn btn-secondary">Add</button>
  </form>
</div>