<div class="hero-section text-center text-black">
  <img src="/img/balloon.jpeg" class="img-fluid" alt="Hero Image">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="display-4">Pink Party</h1>
    <p class="lead">We just sell stuff, any stuff that you may or may not need, for your party.</p>
    <a href="/real" class="btn btn-secondary btn-lg">See Products</a>
  </div>
</div>