{{!-- products.handlebars --}}
<div class="text-center">
  <div class="d-flex align-content-around flex-wrap gap-2" id="products">
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/products.js"></script>