<h2 class="text-center py-5">
  New User
</h2>

<div class="text-center m-auto" style="max-width: 600px;">
  <div class="">
    <form class="d-flex flex-column justify-content-center items-align-center">
      <div class="input-group mb-3">
        <span class="input-group-text" id="fName">First Name</span>
        <input type="text" class="form-control" aria-label="First Name" aria-describedby="fName">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="lName">Last Name</span>
        <input type="text" class="form-control" aria-label="Last Name" aria-describedby="lName">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="email">Email</span>
        <input type="email" class="form-control" aria-label="Email" aria-describedby="email">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="photo">Photo</span>
        <input type="text" class="form-control" aria-label="Photo" aria-describedby="photo">
      </div>

      <button type="submit" class="btn btn-secondary">Register</button>
    </form>
  </div>
</div>